<section class="section">
    <div class="container">
        <h1 class="title">{{article.title}}</h1>
        <p>{{stripTags article.content}}</p>
    </div>
    <div class="field is-grouped">
        <div class="control">
           <a href="/article/edit/{{ article._id }}"><button class="button is-link">Edit</button></a> 
    </div>
</section>